
.btn{
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

.btn_blue{
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    background-color: #1368e9;
    top: 15px;
    left: 15px;
    font-weight: bold;
}

.btn_white{
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    
}